<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>listing4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Angular Google Maps Demo</h1>
  <p><a href="https://github.com/angular/components/tree/main/src/google-maps" target="_blank">Official Documentation</a></p>

  <google-map 
    [center]="{ lat: lat, lng: lng }"
    [zoom]="zoom"
    (mapClick)="mapClicked($event)"
    style="width: 100%; height: 500px;">

    <map-marker 
      *ngFor="let m of markers; let i = index"
      (mapClick)="clickedMarker(m.label, i)"
      [position]="{ lat: m.lat, lng: m.lng }"
      [label]="m.label || ''"
      [draggable]="m.draggable"
      (dragend)="markerDragEnd(m, $event)">
      
      <map-info-window>
        <strong>InfoWindow content</strong>
      </map-info-window>
      
    </map-marker>

  </google-map>
</ion-content>
