agm-map {
  display: block;
  height: 100%;
  width: 100%;
}

ion-content {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
}

h1, p {
  padding: 16px;
  margin: 0;
  background: #f5f5f5;
}
