<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>93 Priory Grove</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">14 Heathcliffe Close</ion-title>
    </ion-toolbar>
  </ion-header>


    <ion-img alt="Townhouse" src="https://photos.zillowstatic.com/fp/f71358bb883a28ccdeac26d776748a8c-cc_ft_960.jpg" />

<ion-list inset="true">
  <ion-item>
    <ion-label>Address:</ion-label>
    <ion-note slot="end">"14 Heathcliffe Close Dublin 18"</ion-note>
  </ion-item>

  <ion-item>
    <ion-label>Bedrooms:</ion-label>
    <ion-note slot="end">5</ion-note>
  </ion-item>

<ion-item>
    <ion-label>County:</ion-label>
    <ion-note slot="end">Dublin</ion-note>
</ion-item>

<ion-item>
    <ion-label>Price:</ion-label>
    <ion-note slot="end" style="font-size: larger;">390,000</ion-note>
</ion-item>


</ion-list>


  
</ion-content>
