.btnroute
{
	min-width: 95%;
	margin-left: 2.5%;
	align-self: center;
	--background: rgba(var(--ion-color-medium-rgb), 0.5);
	--ripple-color: var(--ion-text-color);
	--color: var(--ion-text-color);
	//responsive size, color and allignment for buttons

    
}
